## * 참고 사이트
#### http://hleecaster.com/ml-multiple-linear-regression-example/

In [1]:
import pandas as pd
import pandas_profiling
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression

In [2]:
# DataSet.csv : 비어있는 값들을 그 열의 중앙값으로 채움으로써 결측치 처리
df_dust = pd.read_csv('DataSet.csv')

In [3]:
# Prec : 강수량, WS : 풍속, Humi : 습도, Pres : 대기압, cbwd : 풍향
df_dust.head(10)

,Station code,Date,SO2,CO,O3,NO2,PM10,PM25,Temp,Prec,WS,Humi,Pres,cbwd
0,111121,2018-01-01,0.004833,0.554167,0.014583,0.029292,32.666667,17.791667,-1.3,0.0,1.4,39.1,1016.8,290
1,111122,2018-01-01,0.005417,0.541667,0.011375,0.039750,49.541667,19.899749,-1.3,0.0,1.4,39.1,1016.8,290
2,111123,2018-01-01,0.007208,0.604167,0.015292,0.030250,34.375000,17.333333,-1.3,0.0,1.4,39.1,1016.8,290
3,111124,2018-01-01,0.006333,0.433333,0.011542,0.034167,37.125000,19.899749,-1.3,0.0,1.4,39.1,1016.8,290
4,111125,2018-01-01,0.003667,0.495833,0.020833,0.028708,36.208333,19.899749,-1.3,0.0,1.4,39.1,1016.8,290
5,111131,2018-01-01,0.004792,0.341667,0.011167,0.029333,39.083333,18.333333,-1.3,0.0,1.4,39.1,1016.8,290
6,111141,2018-01-01,0.005417,0.670833,0.012000,0.037500,41.583333,21.708333,-1.3,0.0,1.4,39.1,1016.8,290
7,111142,2018-01-01,0.005500,0.495833,0.009292,0.032917,48.000000,22.875000,-1.3,0.0,1.4,39.1,1016.8,290
8,111143,2018-01-01,0.005000,0.650000,0.007833,0.034083,48.291667,19.899749,-1.3,0.0,1.4,39.1,1016.8,290
9,111151,2018-01-01,0.006625,0.720833,0.009833,0.037250,48.250000,22.666667,-1.3,0.0,1.4,39.1,1016.8,290

In [4]:
# pip list

In [5]:
df_dust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43536 entries, 0 to 43535
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Station code  43536 non-null  int64
 1   Date          43536 non-null  object
 2   SO2           43536 non-null  float64
 3   CO            43536 non-null  float64
 4   O3            43536 non-null  float64
 5   NO2           43536 non-null  float64
 6   PM10          43536 non-null  float64
 7   PM25          43536 non-null  float64
 8   Temp          43536 non-null  float64
 9   Prec          43536 non-null  float64
 10  WS            43536 non-null  float64
 11  Humi          43536 non-null  float64
 12  Pres          43536 non-null  float64
 13  cbwd          43536 non-null  int64
dtypes: float64(11), int64(2), object(1)
memory usage: 4.7+ MB

In [6]:
# df_dust.profile_report()

## MinMaxScaler

In [7]:
data = df_dust.drop(columns = ['Station code', 'Date'])

In [8]:
# minmaxscaler
scaler = MinMaxScaler()

scaler_columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10', 'PM25', 'Temp', 'Prec', 'WS', 'Humi', 'Pres', 'cbwd']
df_scaled = scaler.fit_transform(data)
df_scaled = pd.DataFrame(df_scaled)
df_scaled.columns = scaler_columns
df_scaled.head()

,SO2,CO,O3,NO2,PM10,PM25,Temp,Prec,WS,Humi,Pres,cbwd
0,0.352490,0.249428,0.137538,0.215782,0.131999,0.110623,0.278351,0.0,0.148148,0.268015,0.771167,0.794118
1,0.406130,0.242563,0.103811,0.297764,0.207082,0.124511,0.278351,0.0,0.148148,0.268015,0.771167,0.794118
2,0.570881,0.276888,0.144985,0.223294,0.139600,0.107604,0.278351,0.0,0.148148,0.268015,0.771167,0.794118
3,0.490421,0.183066,0.105563,0.253996,0.151835,0.124511,0.278351,0.0,0.148148,0.268015,0.771167,0.794118
4,0.245211,0.217391,0.203241,0.211209,0.147757,0.124511,0.278351,0.0,0.148148,0.268015,0.771167,0.794118

## PM10 : 정확도 = 0.168 → 매우 떨어짐

In [9]:
from sklearn.model_selection import train_test_split
# 목표 변수 : 'SO2', 'CO', 'O3', 'NO2', 'PM10', 'PM25'
x = df_dust[['Temp', 'Prec', 'WS', 'Humi', 'Pres', 'cbwd']]
y = df_dust[['PM10']]

x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.8, test_size=0.2)

In [10]:
# 모델 생성
# from sklearn.linear_model import LinearRegression
mlr1 = LinearRegression()
mlr1.fit(x_train, y_train)

LinearRegression()

In [11]:
# 회귀계수 확인
print(mlr1.coef_)

[[-0.84613934 -0.28312106 -7.40652653 -0.05767897 -0.42317546  0.0307716 ]]

In [12]:
# 상수 확인
print(mlr1.intercept_)

[490.52073397]

In [13]:
round(mlr1.score(x_train, y_train), 3)

0.168

## PM25 : 정확도 = 0.153 → 매우 떨어짐

In [14]:
z = df_dust[['PM25']]

x_train, x_test, z_train, z_test = train_test_split(x, z, train_size=0.8, test_size=0.2)

In [15]:
# 모델 생성
mlr2 = LinearRegression()
mlr2.fit(x_train, z_train)

LinearRegression()

In [16]:
# 회귀계수 확인
print(mlr2.coef_)

[[-0.50676889 -0.2239161  -6.40522696  0.13947856 -0.1758375   0.01852609]]

In [17]:
# 상수 확인
print(mlr2.intercept_)

[208.19247258]

In [18]:
round(mlr2.score(x_train, z_train), 3)

0.153